.login-form {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
}

.login-form input, .login-form button, .mr-10 {
  margin-right: 10px;
}

.user-information {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}